{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
           <tr>
              <td></td>
              <td>
                   <a href="{{ path('app_annone_image_new') }}">Ajouter des images</a>
              </td>
           </tr>
        </tbody>
    </table>
     <img src="{{ asset('/uploads/photos/' ~ annonce.photo) }}" class="img-responsive img-fluid"> 


    <a href="{{ path('app_annonce_index') }}">back to list</a>

    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
